@page "/"

<div class="first">
	<h1>Hey there</h1>
	<br/>
</div>

<div class="para1 stroke-teal-700 bg-slate-50 font-mono">
	<p>This is my first app on Github tailored for Blazor (.NET) using .NET 7.0 and Tailwind CSS</p>
</div>

<body>
	<div class="snd">
		<p>This is meant to be a test to see how this framework looks over the long run with JavaScript being implemented in the future.</p>
	</div>
</body>


<style>
	.para1{
		display:flex;
		text-align: center;
		border-radius: 1.3rem;
	}

	.first{
		background-color: black;
		text-align:center;
		display:flex;
		font-family:monospace;
		color: mediumturquoise;
		border-radius: 1.3rem;
	}

	.snd{
		color: palevioletred;
		background-color: black;
		display: flex;
		font-family: Courier New, Courier, monospace;
		text-align:center;
		border-radius: 1.3rem;
	}
</style>